#stats {
  .stats-table {
    width: 90vw;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .general-info {
      width: 100%;
      border: 2px solid gray;
      border-radius: 5px;
      height: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
    }

    .other-info {
      width: 100%;
      border: 2px solid gray;
      border-radius: 5px;
      height: 500px;

      .activity {
        width: 30%;
        height: 100%;
        border-right: 2px solid gray;
      }
    }
  }
  form {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
      width: 300px;
      height: 18px;
    }
  }

  .title {
    text-align: center;
    font-size: 34px;
  }

  .no-stats {
    text-align: center;

    margin-top: 10%;
  }
}
