#stats {
  form {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
      width: 300px;
      height: 18px;
    }
  }

  .title {
    text-align: center;
    font-size: 34px;
  }
}
