#home {
  #header {
    justify-content: space-between;
    padding: 0 5%;
    height: 40px;

    .little {
      font-size: 12px;
    }

    .links {
      gap: 60px;
    }
  }

  form {
    margin-bottom: 60px;
  }

  .title {
    text-align: center;
    font-size: 34px;
  }

  .input-container {
    justify-content: center;
    gap: 20px;

    input {
      width: 300px;
    }
  }

  .table-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

    table {
      width: 80%;
      border-collapse: separate;
      border: 2px solid gray;
      border-radius: 6px;

      th {
        padding-top: 10px;
      }

      td {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
