#home {
  form {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
      width: 300px;
      height: 18px;
    }
  }

  .title {
    text-align: center;
    font-size: 34px;
  }

  .table-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

    table {
      width: 80%;
      border-collapse: separate;
      border: 2px solid gray;
      border-radius: 6px;

      th {
        padding-top: 10px;
      }

      td {
        padding: 10px;
        text-align: center;
      }

      .actions {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
